body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgba(35, 37, 42, 1);
}

.singleFeed {
  -webkit-box-shadow: 5px 6px 8px -4px rgba(216,216,216,1);
  -moz-box-shadow: 5px 6px 8px -4px rgba(216,216,216,1);
  box-shadow: 5px 6px 8px -4px rgba(216,216,216,1);
}

.horzRow::-webkit-scrollbar {
  width: 5px;
  /*background-color: rgba(255, 255, 255, 0.03) !important;*/
  height: 10px;
}

/* Track */
.horzRow::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.01);
  height: 5px
}

/* Handle */
.horzRow::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 50px;
}

/* Handle on hover */
.horzRow::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.4);
}